<div class="card" data-bs-toggle="popover" data-pokemon-id="<%= id%>" data-bs-placement="top">
  <img src="<%= src %>" class="card-img-top w-100">
  <div class="card-body">
    <h5 class="card-title"><%= header %></h5>
    <a href="<%= link %>" class="btn btn-primary">Details <%- icon %></a>
  </div>
</div>