<% layout('layout/boilerplate', {title}) %>

<h1 class="text-center"><code>Pokemon List</code></h1>

<form action="/pokemon" method="GET" class="w-xl-50 w-100 container d-flex form-inline justify-content-center my-5">
  <input value="<%= searchQuery %>" name="query" type="text" id="search" class="form-control w-50 me-4" placeholder="Search Pokemon">
  <button type="submit" class="btn btn-primary me-4">Search</button>
  <select name="type" class="form-select w-50 me-4">
    <option value="">Select Type</option>
    <% ['Poison', 'Plante' , 'Feu' , 'Vol' , 'Eau' , 'Insecte' , 'Normal' , 'Électrik' , 'Sol' , 'Fée' , 'Combat' , 'Psy' , 'Roche' , 'Acier' , 'Glace', 'Spectre' ].forEach(function(type) { %>
    <option value="<%= type %>" <%=type===selectedType ? 'selected' : '' %>>
      <%= type %>
    </option>
    <% }); %>

  </select>
  <button type="submit" class="btn btn-primary">Filter</button>
</form>

<section class="pokemon-section mt-5 px-4" id="pokemonList">
  <% pokes.forEach(function(poke) { %>
  <%- include('../../components/Card.ejs', { id: poke.pokedexId, header : poke.name, src: poke.sprite, link: `/pokemon/${poke.pokedexId}`, icon: ``}) %>
  <% }); %>
  
</section>

<div class="container d-flex justify-content-center align-content-center mt-5">
  <% if (!searchQuery && !selectedType) { %>
    <button id="loadMore" class="btn btn-primary">Load More</button>
  <% } %>
</div>
<script nonce="<%= nonce %>">
  console.log('Hello from the Pokémon list page!');
  document.addEventListener('DOMContentLoaded', function() {
    console.log('The DOM is ready!');
    var popoverTriggerList = [].slice.call(document.querySelectorAll('.card[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl, {
        trigger: 'hover', // Trigger the popover on hover
        html: true, // Allow HTML content inside the popover
        content: `<div class="pokemon-details skeleton-loader">
                      <h5 class="skeleton-text">Loading...</h5>
                      <div class="skeleton-img w-100"></div>
                    </div>`,
      });
    });

    popoverTriggerList.forEach(function(popoverTriggerEl) {
      popoverTriggerEl.addEventListener('mouseenter', function() {
        console.log('Popover shown!');
        var popoverInstance = bootstrap.Popover.getInstance(popoverTriggerEl);
        var pokemonId = popoverTriggerEl.getAttribute('data-pokemon-id');
        // Fetch the Pokémon details using the ID
        fetch(`/pokemon/data/${pokemonId}`)
          .then(response => response.json())
          .then(pokemonDetails => {
            // Update the popover content with Pokémon details
            popoverInstance.dispose();

            // Create a new popover instance with the new content
            popoverInstance = new bootstrap.Popover(popoverTriggerEl, {
              content: createPopoverContent(pokemonDetails),
              html: true,
              trigger: 'hover'
            });

            // Show the popover
            popoverInstance.show();
          })
          .catch(error => console.error('Error:', error));
      });
    });

    // Function to create content for the popover
    function createPopoverContent(pokemonDetails) {
      // Create HTML content based on the fetched Pokémon details
      console.log(pokemonDetails);
      return `
          <div class="pokemon-details">
            <h5>${pokemonDetails.name}</h5>
            <img src="${pokemonDetails.sprite}" class="w-100">
          </div>
        `;
    }
  });

  document.getElementById('loadMore').addEventListener('click', function() {
    const button = this;
    const currentOffset = parseInt(button.getAttribute('data-offset'), 10) || 0;
    fetch(`/pokemon?offset=${currentOffset}`, {
        headers: {
          'Accept': 'application/json'
        }
      })
      .then(response => response.json())
      .then(newPokes => {
        const pokemonList = document.getElementById('pokemonList');
        newPokes.forEach(poke => {
          const card = document.createElement('div');
          card.classList.add('card');
          card.setAttribute('data-pokemon-id', poke.pokedexId);
          card.setAttribute('data-bs-toggle', 'popover');
          card.setAttribute('data-bs-placement', 'top');
          card.setAttribute('data-bs-content', '');

          card.innerHTML = `
          <div class="card" data-bs-toggle="popover" data-pokemon-id="${poke.pokedexId}>" data-bs-placement="top">
            <img src="${poke.sprite}" class="card-img-top w-100" alt="${poke.name}">
            <div class="card-body">
              <h5 class="card-title">${poke.name}</h5>
              <a href="/pokemon/${poke.pokedexId}" class="btn btn-primary">
                Details 
              </a>
            </div>
          `;
          pokemonList.appendChild(card);
        });
        button.setAttribute('data-offset', currentOffset + newPokes.length);
      })
      .catch(error => console.error('Error:', error));
  });
</script>